/.ipynb_checkpoints
/.vscode
/2024.11.29-风控案例-神经网络.ipynb
/2212446 张宇轩 2024大作业初版.ipynb
/2212446 张宇轩 HW1 - Kobe.ipynb
/2212446 张宇轩 HW1.ipynb
/2212446 张宇轩 HW2.ipynb
/2212446 张宇轩 HW2模版.ipynb
/2212446 张宇轩 HW3.ipynb
/2212446 张宇轩 HW4.ipynb
/2212446 张宇轩 课堂检测.ipynb
/ceshi.py
/data
/Dockerfile
/HW3_official.ipynb
/mnist_fcn.pth
/paper-大创.ipynb
/wandb
/week10.ipynb
/week12.ipynb
/week13-official 深度学习.ipynb
/week15.ipynb
/week2.ipynb
/week3_official.ipynb
/week4.ipynb
/week4_official.ipynb
/week7.ipynb
/week7_official.ipynb
/week8.ipynb
/week9_offical.ipynb
/大作业可以交的版 - 副本.ipynb
/感知机-代码参考.ipynb
/随手验证.ipynb